<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Glee Music</title>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Sacramento" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Quicksand:500" rel="stylesheet">
  <link rel="stylesheet" href="style.css">
</head>
<body id='home'>
  <nav class='navbar py-0'>
    <a href='/' class='navbar-brand mx-auto py-0'>Glee Music</a>
  </nav>
  <main class='pb-5 container'>
    <div class='playlist'>
      <% locals.metadata.forEach(songData => { %>
        <div class='playlist-item py-2' 
          data-fileName='<%= songData.fileName %>'
          data-serverIp='<%= locals.localIp %>'
          >
          <%= songData.originalName %>
        </div>
      <% }) %>
    </div>
    <div class='formBtns'>
      <form 
        method="post" 
        enctype="multipart/form-data" 
        action="/music">
          <label class="btn px-3 m-0" for="file"><i class="fas fa-plus fa-3x"></i></label>
          <input type="file" id="file" name="song" accept="audio/*" class='d-none'>
          <button type="submit" class="btn px-3 ml-2"><i class="fas fa-upload fa-3x"></i></button>
      </form>
    </div>
  </main>
  <footer class='navbar fixed-bottom py-1'>
    <audio id="player"></audio>
  </footer>
  <script src='script.js'></script>
</body>
</html>